

</body>

<footer class="footer">
  <div class="footer-text">
    <br>FIND ME ON
  </div>


  <div class="footer-body">
    <a href = "https://github.com/Keyur-Joshi/" style="color: black"><i class="fab fa-lg fa-github"></i></a>
    <a href = "https://www.linkedin.com/in/keyur6697/" style="color: black"><i class="fa-brands fa-lg fa-linkedin"></i></a>
    <a href = "mailto:joshikeyur6697@gmail.com" style="color: black"><i class="fa-solid fa-lg fa-envelope"></i></a>
  </div>
</footer>

</html>
